/*Body*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Estilos generales */
body {
    font-size: 16px;
    line-height: 1.5;
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 1024px) {
    body {
        font-size: 18px;
    }
}

/* Estilos para pantallas medianas */
@media screen and (max-width: 1023px) and (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

/* Estilos para pantallas pequeñas (móviles) */
@media screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }
}



/*contenedor de contacto parte superior*/

.contenedor-de-contacto {
    background-color: #1A9E06;
    justify-content: space-between; 
    align-items: center;
}

.lista-contacto {
    align-items: center; /* Alinear verticalmente al centro */
    list-style-type:none; /* Quitar viñetas de la lista */
    padding: 0%; 


}

.lista-contacto a {
    display:inline-flexbox; /* Mostrar como flexbox */
    text-decoration: none; /* Quitar subrayado del enlace */
    color: #f8f5f5;
    padding: 10px; 
    margin-right: 10px; /* Espacio entre elementos */
}


.lista-contacto img {
    
    width: 20px; 
    margin-right: 10px; 
}


/* Menu */

.menu {
    display: flex; /* Mostrar como flexbox */
    align-items: center; /* Alinear elementos verticalmente al centro */
    justify-content: space-between; /* Distribuir elementos horizontalmente */
    background-color: #f0f0f0; /* Color de fondo del menú */
    padding: 10px; /* Espacio interno */
}

.logo {
    flex: 1; /* Ocupar el espacio necesario */
}

ul {
    flex: 1; /* Ocupar el espacio necesario */
    display: flex; /* Mostrar como flexbox */
    justify-content: center; /* Centrar elementos horizontalmente */
    list-style-type: none; /* Quitar viñetas de la lista */
    margin: 0; /* Quitar márgenes */
    padding: 0; /* Quitar relleno */
}

ul li {
    margin: 0 10px; /* Espacio entre elementos */
}

ul li a {
    text-decoration: none; /* Quitar subrayado del enlace */
    color: #333; /* Color del texto */
    padding: 10px; /* Espacio interno */
}

.social-links {
    flex: 1; /* Ocupar el espacio necesario */
    text-align: right; /* Alinear texto a la derecha */
}

.social-links a {
    text-decoration: none; /* Quitar subrayado del enlace */
    color: #333; /* Color del texto */
    margin-left: 10px; /* Espacio entre elementos */
}





/*banner */

.banner {
    position: relative;
    max-width: 100%; /* Ancho máximo del banner */
    overflow: hidden; /* Oculta el contenido que se desborda */
}

.banner img {
    width: 100%; /* La imagen ocupa el ancho completo del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    display: block; /* Para asegurar que la imagen tenga el ancho completo */
}













header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}



.social-links {
    text-align: center;
    padding: 10px;
}

.social-links a {
    margin-right: 10px;
}
